<div id="header">
    <div class="mat-app-background basic-container">
        <app-city-form class="input">Loading...</app-city-form>
        <app-nafcode-form class="input">Loading...</app-nafcode-form>
    </div>

    @if (selectedCities.length) {
        @for (city of selectedCities; track $index) {
            <mat-chip-row (removed)="remove(city, $index)">
                {{city.name}}, {{city.departmentNumber}}
                <button matChipRemove [attr.aria-label]="'remove ' + city.name">
                    <mat-icon>cancel</mat-icon>
                </button>
            </mat-chip-row>
        }
    }
    <button mat-flat-button id="search_button" (click)="searchCompanies()">Rechercher</button>
    {{ updateActivitiesCount() }} activités sélectionnées
</div>