#header {
  height: 20vh;
  margin: 0;
  padding: 0;


  .basic-container {
    padding: 30px;

    display: flex;

    .radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
      align-items: flex-start;
    }

    .input {
      width: fit-content;
      position: relative;
    }

    .slider {
      position: relative;
      left: 500px;
    }
  }
}