<form class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>Rechercher une ville</mat-label>
        <input type="text" placeholder="Ex : Nantes" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">

            @for ( cityOption of (filteredOptions | async); track $index) {
                <mat-option class="options" (click)="selectCity(cityOption)">
                    <div class="cityName">{{ cityOption.name }}</div><div class="department">{{ cityOption.department}} - {{ cityOption.departmentNumber }}</div>
                </mat-option>
                <hr>
            }
            
        </mat-autocomplete>
    </mat-form-field>
</form>