<form class="form">
    <mat-form-field class="full-width">
        <mat-label>Rechercher un domaine d'activité</mat-label>
        <input type="text" placeholder="Ex : Textile" aria-label="Number" matInput [formControl]="myControl"
            [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete">

            @for (category of (filteredOptions | async); track $index) {

            <mat-checkbox class="category-checkbox"
                        class="category-checkbox"
                        [checked]="category.completed"
                        [indeterminate]="category.indeterminate"
                        (change)="updateCategory(category, $event.checked)"
            >

                <mat-option class="category-option" disabled="true">
                    <div class="categoryName">
                        {{ category.name }}
                    </div>
                </mat-option>
            </mat-checkbox>

            <!-- Afficher les sous-catégories -->
                @for (subcategory of category.subcategories; track $index) {
                <mat-checkbox class="subcategory-checkbox"
                            [checked]="subcategory.completed"
                            [indeterminate]="subcategory.indeterminate"
                            (change)="updateSubcategory(category, subcategory, $event.checked)"
                >
                
                    <mat-option class="subcategory-option" disabled="true">
                        <div class="subcategoryName">
                            {{ subcategory.name }}
                        </div>
                    </mat-option>
                </mat-checkbox>

                    <!-- Afficher les activités -->
                    @for (activity of subcategory.activities; track $index) {
                        
                        <mat-checkbox class="activity-checkbox"
                                    [checked]="activity.completed"
                                    (change)="updateActivity(category, subcategory, activity, $event.checked)"
                        >
                        <mat-option class="activity-option" disabled="true">
                            <div class="activityName">
                                    {{ activity.name }} ({{ activity.nafCode }})
                                </div>
                            </mat-option>
                        </mat-checkbox>
                    }
                }
            }
        </mat-autocomplete>
    </mat-form-field>
</form>